@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 25rem to max */



.news {
    min-height: 59vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
}


ul {
    display: flex;
    margin-right: 2.5rem;
}

.Home{
    border-bottom: 0.125rem solid blue;
}

li {
    margin: 1.25rem;
    list-style: none;
    font-family: 'Roboto Slab', serif;
}

ul li:hover {
    border-bottom: 0.125rem solid blue;
    margin-right: 1.25rem;
}

ul li a {
    text-decoration: none;
    color: #3C4048;
}

.logo img {
    width: 5rem;
    height: 4.6875rem;
    margin-left: 1.25rem;
}

.news-container {
    display: flex;  
    align-items: center;
    margin-top: 1.25rem;
    position: relative;
}

.news-container2 {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    position: relative;
}

.news-container2 img {
    width: 6.25rem;
    height: 9.25rem;
    margin-left: 1.25rem;
}

.news-container img {
    width: 6.25rem;
    height: 8.75rem;
    margin-left: 1.25rem;
}

.news1 {
    margin-left: 0.625rem;
    color: #DFF6FF;
    font-weight: bold;
    font-size: 0.8125rem;
}

.news2 {
    margin-left: 0.625rem;
    color: #DFF6FF;
    font-weight: bold;
    font-size: 0.625rem;
}

.nanami {
    color: #C1D5A4;
    font-size: 1rem;
}

h3 {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    color: aqua;
}

/* 23.875rem or 23.4375rem */

@media (max-width: 23.875rem) {
    nav {
    display: flex;
    gap: 1.875rem;
    align-items: center;
    background-color: wheat;
}

ul li {
    margin-right: 0.625rem;
    font-family: 'Roboto Slab', serif;
}

ul li:hover {
    border-bottom: 0.125rem solid blue;
    margin-right: 0.625rem;
}

}

/* 20rem */

@media (max-width: 20rem) {
    nav {
    display: flex;
    gap: 0.3125rem;
    align-items: center;
    background-color: wheat;
}

ul li {
    margin-right: 0rem;
    font-family: 'Roboto Slab', serif;
}

ul li:hover {
    border-bottom: 0.125rem solid blue;
    margin-right: 0rem;
}
}

@media (max-width: 22.5rem) {
    nav {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    background-color: wheat;
}

ul li {
    margin-right: 0rem;
    font-family: 'Roboto Slab', serif;
}
}

.top {
    height: 100vh;
}

@media (max-width: 26.625rem) {
    h2 {
    font-size: 1.0625rem;
    color: white;
    margin-left: 0.625rem;
}

.wan {
    display: flex;
}

img { 
    width: 6.25rem;
    height: 6.25rem;
}
}

img { 
    width: 6.25rem;
    height: 6.25rem;
}

.wan {
    display: flex;
    gap: 1.25rem;
}

h2 {
    font-size: 1.0625rem;
    color: white;
    margin-left: 0.625rem;
}

/* 5136px */

@media (min-width: 1.25rem) {

    img.rentimg {
        margin-left: 2.1875rem;
    }

    .main-container {
        min-height: 365vh;
        width: 100%;
        background-color: #372948;
    }

    .footer {
        width: 100%;
        height: 10rem;
        background-color: #292a2e;
        margin-top: 2.1875rem;
    }

    .footer:hover {
        background-color: black;
    }

    p.don {
        font-family: 'Mukta', sans-serif;
        color: wheat;
        font-size: 1.125rem;
    }

    p.number {
        font-family: 'Mukta', sans-serif;
        color: wheat;
    }

    .rent {
        margin-top: 1.25rem;
    }

    .rentimg {
        width: 100%;
        height: 100%;
        max-width: 15.625rem;
        max-height: 12.5rem;
        margin: 0rem 2.1875rem;
    }
    
    .randomA {
        width: 100%;
        height: 20rem;
        background-color: #292a2e;
        margin-top: 5rem;
        overflow-y: scroll;
    }


    .randomM {
        width: 100%;
        height: 20rem;
        background-color: #292a2e;
        margin-top: 3.125rem;
        overflow-y: scroll;
    }

    h4.h444 {
        margin-top: 0.3125rem;
        text-align: center;
        font-size: 1.25rem;
        font-family: 'Mukta', sans-serif;
        color: wheat;
    }


    h4.h44 {
        margin-top: 0.3125rem;
        text-align: center;
        font-size: 1.25rem;
        font-family: 'Mukta', sans-serif;
        color: wheat;
    }

    p.rent1 {
        color: wheat;
        font-family: 'Rubik', sans-serif;
        margin-top: 0.5rem;
    }

    .span1  {
        font-size: 0.875rem;
    }

    .tre {
        display: flex;
        gap: 1.25rem;
        margin-top: 0.625rem;
    }

    img.tree {
        width: 100%;
        height: 100%;
        min-width: 8.75rem;
        max-height: 12.5rem
    }

    img.img11 {
        width: 100%;
        max-width: 7.5rem;
        height: 12.5rem;
    }

    img.img12 {
        width: 100%;
        max-width: 7.5rem;
        height: 12.5rem;
    }

    h3.h33 {
        font-size: 1.75rem;
        font-family: 'Unbounded', cursive;
    }

    p.news2 {
        font-size: 0.875rem;
    }

    p.news1 {
        font-size: 0.9375rem;
    }

    .top {
        margin-top: 2.5rem;
    }

    h2 {
        font-family: 'Unbounded', cursive;
        display: inline;
        border-bottom: 0.0625rem solid wheat;
    }

    .wan {
        margin-top: 0.625rem;
        gap: 1.25rem;
    }

    .tow {
        display: flex;
        gap: 1.675rem;
        margin-top: 0.625rem;
    }

    nav {
        height: 5.625rem;
    }

    ul {
        margin-right: 1.25rem;
    }

    img.one {
        width: 100%; 
        max-width: 8.75rem;
        margin-left: 0.625rem;
        max-height: 100%;
        min-height: 12.5rem;
    }

    img.two {
        width: 100%;
        min-width: 8.75rem;
        height: 100%;
        max-height: 12.5rem;
    }

    img.four {
        width: 100%;
        max-width: 8.75rem;
        height: 100%;
        max-height: 12.5rem;
    }

    p.don {
        text-align: center;
        margin-top: 1.25rem;
    }


}

/* 6016px */

@media (min-width: 20.0625rem) {
    img.img11 {
        width: 100%;
        max-width: 7.5rem;
        height: 12.5rem;
    }

    img.img12 {
        width: 100%;
        max-width: 7.5rem;
        height: 12.5rem;
    }

    h3.h33 {
        font-size: 1.75rem;
        font-family: 'Unbounded', cursive;
    }

    p.news2 {
        font-size: 0.875rem;
    }

    p.news1 {
        font-size: 0.9375rem;
    }

    .top {
        margin-top: 2.5rem;
    }

    h2 {
        font-family: 'Unbounded', cursive;
        display: inline;
        border-bottom: 0.0625rem solid wheat;
        font-size: 1.625rem;
    }

    .wan {
        margin-top: 0.875rem;
        gap: 1.25rem;
    }

    .tow {
        display: flex;
        gap: 1.675rem;
        margin-top: 0.625rem;
    }

    nav {
        height: 5.625rem;
    }

    ul {
        margin-right: 1.25rem;
    }

    img.one {
        width: 100%; 
        max-width: 8.75rem;
        margin-left: 0.625rem;
        max-height: 100%;
        min-height: 12.5rem;
    }

    img.two {
        width: 100%;
        min-width: 8.75rem;
        height: 100%;
        max-height: 12.5rem;
    }

    img.four {
        width: 100%;
        max-width: 8.75rem;
        height: 100%;
        max-height: 12.5rem;
        float: right;   
    }

    .head1 {
        margin-top: 0.9375rem;
    }

    .wan {
        justify-content: center;
    }

    .tow {
        justify-content: center;
    }   

    .main-container {
        min-height: 365vh;
        width: 100%;
        background-color: #372948;
    }

    .tre {
        justify-content: center;
    }

    .randomA {
        margin-top: 6.25rem
    }

    p.don {
        text-align: center;
        margin-top: 1.25rem;
    }

    img.rentimg {
        margin-left: 4rem;
    }


}